<h1>Personas</h1>

<div>
    <mat-form-field appearance="fill">
        <mat-label>Ordenar Por:</mat-label>
        <mat-select [(ngModel)]="filter" (selectionChange)="getAll()">
            <mat-option  *ngFor="let item of order" [value]="item.value">
                {{item.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Altura Column -->
        <ng-container matColumnDef="altura">
            <th mat-header-cell *matHeaderCellDef> Altura </th>
            <td mat-cell *matCellDef="let element"> {{element.height}} </td>
        </ng-container>

        <!-- Peso Column -->
        <ng-container matColumnDef="peso">
            <th mat-header-cell *matHeaderCellDef> Peso </th>
            <td mat-cell *matCellDef="let element"> {{element.mass}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>    
    </table>

    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[10]"
              aria-label="Select page"
              (page)="pageEvent($event)">
    </mat-paginator>

</div>
