<h1>Planetas</h1>

<div class="container">
    <mat-card>
        <ul class="li-card">
            <li *ngFor="let item of data">
                {{item.planet}}
                <ul>
                    <li *ngFor="let resident of item.residents">
                        {{resident}}
                    </li>
                </ul>
            </li>
        </ul>
    </mat-card>

    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[10]"
              aria-label="Select page"
              (page)="pageEvent($event)">
    </mat-paginator>
 
</div>
