<mat-grid-list cols="1" rowHeight="100PX">
    <mat-grid-tile>
        <ul class="menu">
            <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
            <li><a routerLink="/people">Personas</a></li>
            <li><a routerLink="/every-people">Persona</a></li>
            <li><a routerLink="/planet">Planetas</a></li>
        </ul>
    </mat-grid-tile>
</mat-grid-list>

<!-- vista -->
<mat-grid-list cols="1" rowHeight="1000PX">
    <mat-grid-tile>
        <router-outlet></router-outlet>
    </mat-grid-tile>
</mat-grid-list>
