.menu {
    background: #e91e63;
    padding: 15px;
    li {
        display: inline;
        padding: 50px;
        a {
            color: #fff;
            text-decoration: 
            none;
        }
    }
}