<h1>Detalles de {{ data.name }}</h1>

<div>
    <mat-form-field appearance="fill">
        <mat-label>Ordenar Por:</mat-label>
        <mat-select [(ngModel)]="filter" (selectionChange)="get()">
            <mat-option  *ngFor="let item of ids" [value]="item.value">
                {{item.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<mat-card *ngIf="filter !== ''">
    <ul class="li-card">
        <li>Nombre: {{data.name}}</li>
        <li>Genero: {{data.gender}}</li>
        <li>Altura: {{data.height}}</li>
        <li>Peso: {{data.mass}}</li>
    </ul>
</mat-card>